.center{
    color: white;
    background-color: #4D7298;
    height: 100px;
    width: 150px;
    justify-content: center;
    width: 300px;
    margin-top: 250px;
    

}
.opsi{

    border: 3px #77A6B6  solid;
    border-radius: 10px;
    height: 600px;
    color: aqua;
    justify-content:center ;
   
}
